* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  white;
    color:  #000f;
    line-height: 1.6;
    background-size:auto;
}

.container {
    width: 120%;
    max-width: 1200px;
    margin: 0 auto;
}
.container h1{
    text-decoration: underline;
    color: #ededed;
}
.container h2{
    font-size: 0.1rem;
    color: #fff;
}
#cont1{
    display: flex;
}
.about-info{
    margin-left: 62px;

}
.about-info h2{
    color: #000;
}

header {
   display: flex;
   flex-direction: column;
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.318),rgba(0, 0, 0, 0.027)),url(last.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #ededed;
    padding: 20px 0;
    text-align: center;
    color: black;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #16213b;
}
.intro {
    background-size: 100%;
    text-align: left;
    margin: 40px 0;
}

.intro h2 {
    font-size: 3rem;
    color: black;
}
#ph{
    display: flex;
    align-items: center;
}
h1{
    font-size: 3rem;
    color: white; 
}
.intro span {
    color: #0066ff;
}

.intro p {
    font-size: 1.5rem;
    margin: 10px 0;
}

/* .btn {
    display: inline-block;
    padding: 10px 30px;
    color: #0066ff;
    text-decoration: none;
    margin-top: 20px;
    font-size: larger;
    background-color: white;
    border-radius: 5px;
    transition: .5s;
}
.btn:hover{
    background-color: #0066ff;
    color: #fff;
} */
.info p {
    margin: 10px 0;
}

.about {
    display: flex;
    margin: 50px 0;
}

.about-img img {
    width: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.about-info {
    margin-left: 30px;
    font-size: 20px;
}

.about-info h3 {
    font-size: 1.5rem;
    color: #0066ff;
}

.about-info h2 {
    font-size: 2rem;
    margin: 10px 0;
}
.btn{  
    border: 3px solid #0066ff;
}

.skills {
    background-color: #121212;
    padding: 50px 0;
}

.skills h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.skills-item {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: .5s;
}
.skills-item:hover{
    box-shadow: 0 0 20px 0px rgba(0, 102, 255, 0.649);
    transform: scale(1.1);
}
.skills-item h3 {
    font-size: 1.5rem;
    color: #0066ff;
    margin-bottom: 10px;
}

.skills-item p {
    color: #aaa;
}
.links{
    background: linear-gradient(40deg, #1f1f1f, grey, #1f1f1f);

}
#hehe h2{
    text-decoration: underline;
    color: #fcf8f8;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 31px;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.Instagram img{
    width: 80px;
    border-radius:15px ;
    transition: .5s;
}
.Instagram img:hover{
    box-shadow: 0 0 20px 0px rgba(200, 55, 171, 1);
    transform: scale(1.1);
}
.Leetcode img{
    height: 80px;
    border-radius: 15px;
    transition: .5s;

}
.Leetcode img:hover{
    box-shadow: 0 0 20px 0px rgba(205, 223, 2, 0.649);
    transform: scale(1.1);
}
.HackerRank img{
    height: 80px;
    border-radius: 15px;
    transition: .5s;


}
.HackerRank img:hover{
    box-shadow: 0 0 20px 0px rgba(97, 225, 159, 0.649);
    transform: scale(1.1);
}
.Git img{
height: 80px;
border-radius: 15px;
transition: .5s;

}
.Git img:hover{
    box-shadow: 0 0 20px 0px rgba(38, 59, 91, 0.649);
    transform: scale(1.1);
}
@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .about-info {
        margin-left: 0;
        margin-top: 20px;
    }
    .container{
        display: flex;
        flex-direction: column;

    }
    .intro h2{
        display: flex;
        flex-direction: column;
        transform: scale(0.7);
    }
    .skills-grid{
        grid-template-columns: repeat(1,1fr);
    }
    h2{
        padding-left: 0%;
    }
    .Instagram{
        transform: scale(0.7);
    }
    .Leetcode{
        transform: scale(0.7);
    }
    .Git{
        transform: scale(0.7);
    }
    .HackerRank{
        transform: scale(0.7);
    }
}
@media(max-width:320px){
    .container{
        width: 100%;
       
}
}